* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------------*/

body {
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("/Tareas/images/cielo.jpg") fixed center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div1{
    display: flex;
    align-items: center;
    margin-top: 10%;
    background-color: rgba(240, 248, 255, 0.473);
    padding: 10%;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.849);
}

#box1{
    width: 200px;
    margin-right: 10px;
    text-align: center;
    height: 25px;
    /* cursor: pointer; */
}

#box2{
    width: 200px;
    margin-left: 10px;
    margin-right: 0px;
    text-align: center;
    height: 25px;
    /* cursor: pointer; */
}
#operacion{
    width: 100px;
    cursor: pointer;
    text-align: center;
}
#resullt{
    margin: 5%;
    color: black;
    
}

#buttonr{
    width: 200px;
    cursor: pointer;
}